@use '../../_variables.scss' as *; 

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .chat-history {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-bottom: 0;
  }

  .chat-input-background {
    position: static;
    width: 100%;
    margin-top: auto;
    background-color: $color-white;
    z-index: 0;
  }
} 