// Colors
$color-white: #fefefe;
$color-nav-border: #E3E5FF;
$color-black: #000000;
$color-background-light: #F6F6F6;
$color-gray: #89939E;
$color-pure-white: #FFFFFF;

$color-primary-blue: #000460;
$color-primary-orange: #FF6601;