@use './_variables.scss' as *;

.navigation {
    background-color: $color-white;
    height: 75px;
    border-bottom: 1px solid $color-nav-border;
    display: flex;
    align-items: center;
    padding: 0 43px;
    z-index: 100;
    position: sticky;
    top: 0;

    .menu {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        gap: clamp(40px, 10vw, 193px);
        position: relative;
        .indicator-line {
            position: absolute;
            bottom: 0;
            width: 145px;
            height: 2px;
            background-color: $color-primary-blue;
            border-radius: 1px;
            transition: left 0.3s ease;
        }

        .nav-link {
            transition: all 0.2s ease;

            &.active {
                &[href="/Notities"] ~ .indicator-line {
                    transform: translateX(calc(-100% - 193px));
                }

                &[href="/To-do"] ~ .indicator-line {
                    transform: translateX(calc(100% + 193px));
                }
            }

            svg {
                transition: all 0.2s ease;
                
                path {
                    transition: all 0.2s ease;
                    stroke: $color-black;
                }
            }
            
            &[href="/To-do"] {
                svg path {
                    transition: all 0.2s ease;
                    stroke: none;
                    fill: $color-black;
                }

                &:hover, &.active {
                    svg path {
                        transition: all 0.2s ease;
                        fill: $color-primary-blue;
                    }
                }
            }

            &:not([href="/To-do"]):hover, 
            &:not([href="/To-do"]).active {
                transition: all 0.2s ease;
                color: $color-primary-blue;
                
                svg path {
                    stroke: $color-primary-blue;
                    transition: all 0.2s ease;
                }
            }

            &:hover, &.active {
                color: $color-primary-blue;
                transition: all 0.2s ease;
            }

            &.active {
                ~ .indicator-line {
                    transform: translateX(0);
                }

                &[href="/StudyZone"] ~ .indicator-line {
                    transform: translateX(calc(100% + 193px));
                }

                &[href="/To-do"] ~ .indicator-line {
                    transform: translateX(calc(200% + 386px));
                }
            }
        }
    }

    .nav-link {
        display: flex;
        gap: 5px;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        text-decoration: none;
        color: $color-black;
        white-space: nowrap;
    }

    .logo {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 400;
        font-size: 22px;
        position: relative;
        
        img {
            cursor: pointer;
            z-index: 2;
            width: 42px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
            border-radius: 9.45px;
        }
    }

    .logo-text {
        font-size: 18px;
        position: absolute;
        left: 52px;
        z-index: 1;
        opacity: 0;
        transform: translateX(-20px);
        transition: all 0.5s ease;
    }

    .nav-link:hover ~ .logo-text {
        opacity: 1;
        transform: translateX(0);
    }

    .account-section {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .account {
            display: flex;
            font-size: 16px;
            gap: 18px;
            align-items: center;
            transition: all 0.3s ease;

            .user-email {
                text-decoration: none;
                color: $color-black;
                transition: all 0.3s ease;
                font-size: 16px;
                opacity: 1;
                visibility: visible;
                max-width: 200px;
                overflow: hidden;

                @media screen and (max-width: 1475px) {
                    opacity: 0;
                    visibility: hidden;
                    max-width: 0;
                }

                &:hover {
                    color: $color-primary-blue;
                }
            }

            .user-profile {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $color-background-light;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
                text-decoration: none;

                img[src*="../assets/svg/navigation/default-avatar.svg"] {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                }

                img:not([src*="default-avatar"]) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }

                &:hover {
                    opacity: .3;
                }
            }
        }
    }
}