.notepreviewtag-container {
  height: 22px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 13px;
  border-radius: 100px;
  white-space: nowrap;
  overflow: visible;
  display: inline-flex;
  align-items: center;
}